<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vpdong.app.test">
	
	<application android:name=".App"
	             android:icon="@mipmap/ic_launcher"
	             android:label="@string/app_name"
	             android:theme="@style/LibTheme"
	             android:allowBackup="true"
	             android:supportsRtl="true">
		
		<activity android:name=".view.activity.MainActivity"
		          android:theme="@style/LibTheme.FullScreen"
		          android:excludeFromRecents="true"
		          android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		
		<activity android:name=".view.activity.HomeActivity"
		          android:launchMode="singleInstance"
		          android:configChanges="orientation|keyboardHidden|screenSize"/>
	
	</application>

</manifest>